<p>
At Urban Seeds we connect local people to local food by providing up-to-date information on farms, farmers markets, farm stands and CSAs in our area, as well as restaurants and retailers that offer local products on their menus and on their store shelves. 
</p>

<p>
We advocate for small, mixed-use farms and market gardens, encourage local growers to adopt sustainable practices, and support the creation of local food based businesses as we work together to create a healthy, viable and diverse local food economy and community.
</p>